body {
  font-family: " Aclonica", "Cinzel Decorative";
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  background-image: url(img/vecteezy_VIntage_background_ir1020.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
}
h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 4;
}
small {
  font-weight: bold;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 30px;
  font-size: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 680px;
  margin: 100px auto;
}
.weather-app {
  padding: 40px;
  border: 3px solid rgba(148, 104, 38, 0.886);
  border-radius: 30px;
}
.overview {
  margin-bottom: 10px;
}
.d-flex {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.temperature .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 25px;
  opacity: 0.9;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 25px;
}
