body {
  font-family: " Aclonica", "Cinzel Decorative";
  justify-content: center auto;
  align-items: center auto;
  height: auto;
  margin: 20px;
  background-image: url("https://i.pinimg.com/736x/c9/a8/60/c9a8605f3dce5c9e858bdcb7ec2b891b--kawaii-wallpaper-disney-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
}
h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 4px;
}

.weather-app-wrapper {
  max-width: 680px;
  margin: auto;
  background-color: rgba(240, 248, 255, 0.556);
}
.current-city {
  margin-top: 10px;
}
.temperature .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.card {
  text-align: center;
  background-color: rgba(221, 228, 234, 0.589);
}
.weather-forecast-date {
  font-size: 25px;
  opacity: 0.9;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 25px;
}
